{% extends "layout.html" %}

{% block body %}
    <h1>
        Register for the fresh IMS
    </h1>
    <form action="/register" method="post">
        <input name="name" placeholder="Name" type="text">
        <select name="dorm">
            <option value="Apley Court">Apley Court</option>
             <option value="Canaday">Canaday</option>
            <option value="Ram">Ram</option>
            <option value="Bheem">Bheem</option>
            <option value="Som">Som</option>
            <option value="Deepthi">Deepthi</option>
        </select>
        <input type="submit" value="Register">
    </form>
{% endblock %}